<!DOCTYPE html>
<html>
<% var title = 'add' %>
<% include head %>
<body>
  <div class="container">
    <%- include("./header.ejs") %>
    <form method="post" action="/user">
      <div class="form-group">
        <label for="exampleInputEmail1">name</label>
        <input type="text" class="form-control" name="name" placeholder="name" value="<%= user.name %>">
        <% if(bindError.nameErr){ %>
          <small class="help-block"><%= bindError.nameErr %></small>
        <% } %>
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">like</label>
        <input type="text" class="form-control" name="like" placeholder="like" value="<%= user.like %>">
      </div>
      <!-- <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div> -->
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <%- include("./footer.ejs") %>
  </div>
</body>

</html>