<!DOCTYPE html>
<html>

<% var title = 'list' %>
<% include head %>

<body>
  <div class="container">
    <%- include("./header.ejs") %>
    <h3>用户列表：</h3>
    <table class="table table-bordered table-striped">
      <tr>
        <td>序号</td>
        <td>姓名</td>
        <td>爱好</td>
        <td>操作</td>
      </tr>
      <%for (var i=0;i<accounts.length;i++){%>
        <tr>
          <td><%=accounts[i].id%></td>
          <td><%=accounts[i].name%></td>
          <td><%=accounts[i].like%></td>
          <td>
            <a class="put">修改</a>
            <a class="delete">删除</a>
          </td>
        </tr>
      <%}%>
    </table>
    <a href="/add">添加</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/add-ajax">ajax添加</a>
    <%- include("./footer.ejs") %>
  </div>
</body>

</html>